.dropdown {
  font-size: 18px;
  width: 250px;
  padding: 5px;
}

.button-delete {
  width: 100px;
  margin-top: 10px;
  background-color: rgb(255, 253, 251);
  font-size: 18px;
  height: 25px;
  border-radius: 5px;
  border: none;
}

.button-add {
  width: 100px;
  margin-top: 10px;
  background-color: rgb(255, 253, 251);
  font-size: 18px;
  height: 25px;
  border-radius: 5px;
  border: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  width: 100%;
  margin-top: 25px;
  background-color: white;
}

.select-text {
  margin: 10px;
  font-size: 24px;
}

.input {
  width: 250px;
  font-size: 16px;
  padding: 5px;
}

.form-card {
  background-color: rgb(190, 212, 241);
  border-radius: 5px;
  height: auto;
  width: 100%;
  padding: 10px;
}
